@charset "utf-8";

// These are two bulma variables I have changed
$warning: rgb(252, 186, 3);
$info: rgb(19, 209, 108);

// Background image for the procurement page
.procurement-image {
  background-image: url(../images/procurementBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// Background image for the installation page
.installation-image {
  background-image: url(../images/installationBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// Darkens the nav background so that the white logo is visible and for some contrast from the background images
#nav-background{
  background-color: rgba(0,0,0,0.2);
}

@import "../../node_modules/bulma/bulma.sass";