@charset "utf-8";

.home-image {
  background-image: url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#nav-background{
  background-color: rgba(0,0,0,0.2);
}

@import "../../node_modules/bulma/bulma.sass";